:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.personal-info-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

.error-message {
  color: red;
}
