.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.625rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
