<mat-toolbar color="primary">
  <div class="search-input">
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearchInputChange()" [disabled]="!createButtonEnabled" />
    </mat-form-field>
  </div>
  <div class="spacer"></div>
  <div class="header-buttons">
    <button mat-button (click)="addButtonClick()" [disabled]="!createButtonEnabled">Create</button>
    <button mat-button (click)="saveButtonClick()" [disabled]="!saveButtonEnabled">Save</button>
  </div>
</mat-toolbar>
